allure-behave==2.8.17
allure-python-commons==2.8.17
attrs==19.3.0
behave==1.2.6
certifi==2024.7.4
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
idna==2.10
importlib-metadata==1.7.0
parse==1.16.0
parse-type==0.5.2
pluggy==0.13.1
requests==2.24.0
selenium==3.141.0
six==1.15.0
urllib3==1.26.5
webdriver-manager==3.2.1
zipp==3.1.0
Flask==1.1.1
gunicorn==22.0.0
chromedriver-binary==79.0.3945.36
